@{
    ViewData["Title"] = "Home Page";
}



<div class="text-center">
    <h1 class="display-4">Rebirth - Balloon Shop</h1>
    <p>Welcome to the best shop to get different kinds of balloons !</p>
    <p>Check our products right here</p>

</div>
