@{
    ViewData["Title"] = "Home Page";
}



<div class="text-center">
    <h1 class="display-4">Rebirth - Balloon Shop</h1>
    <p>Welcome to the best shop to get different kinds of balloons !</p>
    <p></p>

    <a class="navbar-brand bg-dark text-white p-3 mb-3 rounded" asp-area="" asp-controller="Balloons" asp-action="Index">Our Products</a>
    <br>
    <img src="~/img/Balloons1.webp" alt="Balloons">
</div>
