@{
    ViewData["Title"] = "About Us";
}
<h1 class="display-4">@ViewData["Title"]</h1>

<p>Welcome to Rebirth Balloons, where we turn moments into memories and celebrations into colorful, joyful experiences. At Rebirth, we believe in the magic of balloons and their ability to transform any event into something extraordinary. Our passion for creating unique, captivating balloon designs has made us the go-to destination for all your balloon needs.</p>

<h3>Who we are</h3>
<p>Rebirth Balloons is a family-owned and operated business that has been bringing the enchantment of balloons to life for over a decade. Our journey began with a simple idea – to infuse every occasion with a burst of vibrancy and happiness. Today, we are proud to have evolved into a creative powerhouse in the world of balloons, with a dedicated team of experts who share our unwavering commitment to excellence.</p>

<h3>What We Do:</h3>
<p>We specialize in crafting bespoke balloon arrangements and installations that reflect your vision and the spirit of your event. Whether it's a whimsical birthday celebration, a romantic wedding, a corporate event, or any other special occasion, we take pride in adding that touch of wonder with our balloon artistry.</p>

<img class="p-4" src="~/img/Balloons2.jpg" alt="Balloons">
<h2 class="mt-3 mb-2">Join us in the celebration of life, love, and joy with the enchantment of Rebirth Balloons!</h2>